@media(max-width:768px){
    .box{
        padding-left: 5px;
        padding-right: 5px;
      }
}
@media(max-width:561px){
    .box{
        padding-left: 5px;
        padding-right: 5px;
      }
      .wholeTitle h1{
        font-size: 70%;
      }
      .itemBar{
        width: 450px;
        height: 40px;
        padding: 0;
      }
      .quantBar{
        height: 40px;
        padding: 0; 
      }
      .addTask, .removeAll{
        height: 40px;
        padding: 5; 
        font-size: 75%;
      }
      
      .deleteTask, .upTask, .downTask{
        padding: 4px 6px;
        font-size: .7rem;
        margin-left: 10px;
      }
      .text{
        font-size: 50%;
      }
      .quant{
        font-size: 50%;
      }
      li{
        height: 5px;
      }
      .line {
        width: 1px;
        height:40px;
      }
      
}
@media (max-width: 426px){
  .itemBar{
    width: 300px;
    height: 30px;
    padding: 0;
  }
  .quantBar{
    height: 30px;
    padding: 0; 
  }
  .addTask, .removeAll{
    height: 30px;
    padding: 0; 
    font-size: 75%;
  }
      .quant{
        font-size: 30%;
      }
}